<%
  var posts = site.hide_posts.filter(post => post.tags.findOne({name: 'gsoc'}));
  posts.each(post => {
      if (post.sticky === undefined) {
          post.sticky = 0;
      }
  })
  posts = posts.sort({ sticky: -1, date: -1 });
%>

<%
var layout = page.layout
page.title = page.title || __(`${ layout }.title`)
page.subtitle = page.subtitle || page.title || __(`${ layout }.subtitle`)
page.banner_img = page.banner_img || theme.page.banner_img
page.banner_img_height = page.banner_img_height || theme.page.banner_img_height
page.banner_mask_alpha = page.banner_mask_alpha || theme.page.banner_mask_alpha
%>
<% import_css(theme.static_prefix.github_markdown, 'github-markdown.min.css') %>
<% import_css(theme.static_prefix.hint, 'hint.min.css') %>
<% if (theme.code.highlight.enable) { %>
<%- partial('_partials/plugins/highlight.ejs') %>
<% } %>
<% if ((theme.code.language.enable && theme.code.language.default) || theme.code.copy_btn) { %>
<%- partial('_partials/plugins/code-widget.ejs') %>
<% } %>
<% if (theme.fun_features.anchorjs.enable && page.anchorjs !== false) { %>
<%- partial('_partials/plugins/anchorjs.ejs') %>
<% } %>
<% if (theme.post.image_zoom.enable && page.image_zoom !== false) { %>
<%- partial('_partials/plugins/fancybox.ejs') %>
<% } %>
<% if (theme.post.image_caption.enable) { %>
<% import_script('<script>Fluid.plugins.imageCaption();</script>') %>
<% } %>
<% if (theme.post.math.enable && (!theme.post.math.specific || (theme.post.math.specific && page.math))) { %>
<%- partial('_partials/plugins/math.ejs') %>
<% } %>
<% if (theme.post.mermaid.enable && (!theme.post.mermaid.specific || (theme.post.mermaid.specific && page.mermaid))) { %>
<%- partial('_partials/plugins/mermaid.ejs') %>
<% } %>

<article class="page-content">
<div class="gsoc">
<div class="markdown-body">
  <%- page.content %>

  <%- inject_point('pageComments') %>
</div>
</div>
</article>

<div class="gsoc">
<% posts.each(function (post) { %>
    <div class="row mx-auto index-card">
      <% var post_url = url_for(post.path), index_img = post.index_img || theme.post.default_index_img %>
      <% if (index_img) { %>
        <div class="col-12 col-md-4 m-auto index-img">
          <a href="<%= post_url %>" target="<%- theme.index.post_url_target %>">
            <img src="<%= url_for(index_img) %>" alt="<%= post.title %>">
          </a>
        </div>
      <% } %>
      <article class="col-12 col-md-<%= index_img ? '8' : '12' %> mx-auto index-info">
        <h1 class="index-header">
          <% if (theme.index.post_sticky && theme.index.post_sticky.enable && post.sticky > 0) { %>
            <i class="index-pin <%= theme.index.post_sticky && theme.index.post_sticky.icon %>" title="Pin on top"></i>
          <% } %>
          <a href="<%= post_url %>" target="<%- theme.index.post_url_target %>">
            <%= post.title %>
          </a>
        </h1>

        <% var excerpt = post.description || post.excerpt || (theme.index.auto_excerpt.enable && post.content) %>
        <a class="index-excerpt <%= index_img ? '' : 'index-excerpt__noimg' %>" href="<%= post_url %>" target="<%- theme.index.post_url_target %>">
          <div>
            <%- escape_html(strip_html(excerpt).substring(0, 200).trim()).replace(/\n/g, ' ') %>
          </div>
        </a>

        <div class="index-btm post-metas">
          <% if (theme.index.post_meta.date) { %>
            <div class="post-meta mr-3">
              <i class="iconfont icon-date"></i>
              <time datetime="<%= full_date(post.date, 'YYYY-MM-DD HH:mm') %>" pubdate>
                <%- date(post.date, config.date_format) %>
              </time>
            </div>
          <% } %>
          <% if (theme.index.post_meta.category && post.categories.length > 0) { %>
            <div class="post-meta mr-3 d-flex align-items-center">
              <i class="iconfont icon-category"></i>
              <%- partial('_partials/category-chains', { categories: post.categories, limit: 1 }) %>
            </div>
          <% } %>
          <% if (theme.index.post_meta.tag && post.tags.length > 0) { %>
            <div class="post-meta">
              <i class="iconfont icon-tags"></i>
              <% post.tags.each(function(tag){ %>
                <a href="<%= url_for(tag.path) %>">#<%- tag.name %></a>
              <% }) %>
            </div>
          <% } %>
        </div>
      </article>
    </div>
  <% }) %>

  <%- partial('_partials/paginator') %>
</div>
